* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: rgb(252, 246, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.img-column img {
    max-width: 100%;
    max-height: 100%;   /* fit into landing page height */
    height: auto;
    width: auto;
    
}

.text-column {
    padding: 15% 0;
    text-align: left;
}

.text-column h1{
    font-size: 100px;
    padding: 20px;
}

.text-column .tag{
    font-size: 20px;
    padding: 20px;
}

.text-column .btn-container {
    padding: 20px;
}

.text-column .footer {
    font-size: small;
    padding: 20px;
    position: absolute;
    bottom: 0;
} 

.text-column .footer a{
    text-decoration: none;
    color: black;
}

.text-column .footer img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.text-column .footer img:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


@media screen and (max-width: 768px) {
    .column {
        width: 100%;
        float: none;
    }

    body, html {
        overflow: scroll;
    }

    .text-column {
        padding: 4vh 1rem;
        text-align: center;
    }

    .text-column h1 {
        font-size: clamp(2rem, 8vw, 3rem);
    }

    .text-column .tag {
        font-size: 1rem;
    }

    .img-column {
        text-align: center;
        margin-top: 1rem;
    }

    .img-column img {
        width: 100%;
        height: auto;
    }

    .text-column .footer {
        position: relative;
        bottom: auto;
    }

}
