*{
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;      /* horizontal center */
    justify-content: center;  /* vertical center */
    background-color: rgb(252, 246, 237);
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 20px;
}

.main a{
    text-decoration: none;
    color: black;
}

hr {
    width: 50%;
    margin-top: 2%;
    transition: width 0.3s ease;
}

.main:hover {
    cursor: pointer;
}

.main:hover hr {
    width: 80%;
}

.container{
    position: relative;
    display: flex;
    align-items: center;     /* vertical center */
    justify-content: center; /* horizontal center */;
    overflow: hidden;
    width: 80%;
    height: auto;
    border-radius: 1rem;
}

.bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: blur(30px);
    transform: scale(1.15); /* prevents blur edges */
    z-index: -2;
}

/* grey overlay */
.bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(120, 120, 120, 0.4);
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    z-index: 1;
}

.slider {
    display: flex;
    overflow: auto;
    aspect-ratio: 16/ 9;
    width: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
    width: 50%;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
    
}

.footer {
    font-size: small;
    position: absolute;
    bottom: 0;
    color: black;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: black;
}

.footer a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.footer a img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

